@import './reset.scss';
@import './fonts.scss';

#root {
  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  min-width: 360px;
}
