@import "@/shared/styles/index.scss";

$container-height: rem(76px);
$label-height: rem(24px);

.container {
  position: relative;
  height: $container-height;
  @extend %flex-col-start-start;
  gap: rem(5px);
  width: 100%;
}

.label {
  @include set-font-size(rem(16px), 1.25);
  @extend %flex-row-center-start;
  @extend %text-overflow-ellipsis;
  width: 100%;
  color: $grey-181;
  height: $label-height;

  &__asterisk {
    align-self: flex-start;
    color: $red-193;
    margin-left: rem(5px);
  }
}

.input {
  @include set-font-size(rem(16px), 1.25);
  @extend %flex-row-center-start;
  color: $grey-80;
  padding: 0 rem(45px) 0 rem(24px);
  border: 1px solid $grey-225;
  border-radius: rem(8px);
  height: rem(46px);
  width: 100%;

  &::placeholder {
    color: $grey-225;
  }

  &:hover:not(&_error, disabled),
  &:focus:not(&_error, disabled) {
    border: 1px solid $grey-181;
    outline: 2px solid $grey-225;
  }

  &:disabled {
    background-color: $grey-225;
    color: $grey-181;
  }

  &_error {
    border: 1px solid $red-193;
    outline: 2px solid $red-232;
  }
}

.error-msg {
  @include set-font-size(rem(12px), 1);
  position: absolute;
  bottom: rem(-20px);
  color: $red-193;
}

.icon {
  position: absolute;
  right: rem(calc(24px - 10px));
  bottom: calc(rem(48px) / 2);
  transform: translateY(50%);
  color: $grey-181;
}
