$white-255: rgba(255, 255, 255, 1);

$black-37: rgba(37, 37, 37, 1);

$grey-80: rgba(80, 80, 80, 1);
$grey-181: rgba(181, 181, 181, 1);
$grey-225: rgba(225, 225, 225, 1);

$purple-80: rgba(80, 40, 198, 1);
$purple-94: rgba(94, 72, 232, 1);

$red-193: rgba(193, 47, 93, 1);
$red-232: rgba(232, 91, 129, 1);
