@import "@/shared/styles/index.scss";

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 140px;
  gap: rem(30px);
  justify-items: start;
  align-items: end;
  padding-bottom: rem(30px);

  & > * {
    min-width: 0; // Prevent children from growing beyond their content size
    max-width: 100%; // Ensure children do not overflow the container
    // overflow: hidden; // Hide overflow content
    // text-overflow: ellipsis; // Optional: Add ellipsis for overflowing text
    // white-space: nowrap; // Optional: Prevent text from wrapping
  }
}
