@import "@/shared/styles/index.scss";

.section {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr auto;
  gap: rem(30px);
  justify-items: start;
  align-items: end;
  padding-bottom: rem(30px);

  & > * {
    min-width: 0;
    max-width: 100%;
  }

  @include max-1(md) {
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: start;
    gap: rem(15px);
  }
}
